body {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    overflow: hidden; /* Prevent double scrollbar */
}

.comments-container {
    flex: 1;
    overflow-y: auto;
    max-height: 90vh; /* Set a maximum height for better usability */
    position: relative;
    border: 1px solid #ddd;
}

.comments-container.left {
    margin-right: 10px; /* Adjust the space between the two containers */
}

.comments-container.right {
    margin-left: 10px; /* Adjust the space between the two containers */
}

.comments-heading {
    font-size: 1.2em;
    margin-bottom: 5px;
    position: sticky;
    top: 0;
    background-color: #c9c3c3; /* Set a background color to make it stand out */
    border-bottom: 1px solid #ddd;
}
