<!DOCTYPE html>
<html>

<head>
    <title>Youtube Data Fetch</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index-styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='index_script.js') }}"></script>
    <style>
        #loading-spinner {
            display: none;
        }
    </style>
</head>

<body>
    <main>
        <h1>Welcome to SentimentShop</h1>
        <h5>Smarter Buying Decisions through YouTube Comments Sentiment Analysis</h5>
        <p>This app empowers you to make informed purchase decisions by analyzing the sentiment of comments in YouTube product review videos, helping you gauge whether a product is worth buying or not.</p>

        <form method="POST" onsubmit="handleFormSubmission(event)">
            <label for="youtube_id">Enter YouTube product review video URL or ID:</label>
            <input type="text" id="youtube_id" name="youtube_id" required>
            <input type="submit" value="Submit">
            <br>
            <div id="loading-spinner">Processing data, please wait...</div>
        </form>
    </main>
</body>

</html>